<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
	</head>
	<body>
		<h1>Event</h1>
		<table border="1">
			<tr>

				<th>Listes participants</th>
				<th>Email</th>

			</tr>
			{% for u in user.event %}
				{% for t in u.users %}
					{% for x in allusers %}
						{% if x.id == t.id %}

							<tr>
								<td>{{ t.id }}</td>

								<td>{{ x.email }}</td>

							</tr>
						{% endif %}

					{% endfor %}

				{% endfor %}
			{% endfor %}
		</table>
	</body>
</html>
