{% extends 'base.html.twig' %}

{% block title %}
	KnowMe
{% endblock %}


{% block body %}
	<section id="intro">
		<div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
			<h1 class="mb-4 pb-0">Know Me<br><span>Know</span>
				Or Never</h1>
			<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
			<a href="/register" class="about-btn scrollto">Créer un compte
			</a>
		</div>
	</section>
{% endblock %}
