<h1>Ajouter event</h1>
{{ form_start(form)}}
 {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
{{ form_end(form)}}